h3,h1,p{
    text-align: center;
    font-family: cursive;
}
h1{
    font-size: 80px;
    color: orange;
}
h3{
    font-size: 30px;
    color:#B0682F;
}
p{
    font-size: 20px;
}
span{
    font-weight: bold;
    color:black;
}
#pied{
    text-align: left;
    margin-top: 60px;
    vertical-align: bottom;
}
#invitation{
    color:orange;
}
a{
    text-decoration: none;
    color:black;
}