*{
    font-family: cursive;
}
#title , #slogan{
    text-align: center;
}
#title{
    font-size: 100px;
    color: orange;
}
#slogan{
    font-size: 30px;
}
div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 25px;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
}
a button{
    height: 60px;
    width: 400px;
    font-size: 25px;
    color:orange;
    background-color: greenyellow;
}
html{
    /*height: 100%;*/
}
/*body{
    background-image: url('logo-png.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}*/